body {
    background-color: bisque;
    color: black;
    border: 10px;
    width: 80%;
    max-width: 1000px;
    margin: auto;
    padding: 100px;
    }
h2 {
    font-size: 18pt
    }
p {
    font-size: 12pt;
    }

#Scottish {
    color: darkblue;
    }

#Savannah {
    color: blue;
    }

#Bengali {
    color: violet;
    }

.piros {
    color: red;
    }
a {
    text-decoration: none;
    border-style: solid;
    padding: 10px;
    margin: 20px;
    border-color: darkviolet;
    background-color: darkviolet;
    color: mintcream;
    border-radius: 10px;
}

a:hover {
    border-color: hotpink;
    background-color: hotpink;
  }